*.pyc
*.log
.DS_Store

.idea/
.vscode/
.venv
__pycache__/
src/
build/
dist/
docs/_build
*.egg-info/
*.code-workspace

ochre/defaults/Input Files/OCHRE*
bin/.ipynb_checkpoints/Arash_test-checkpoint.ipynb
**/*.ipynb
bin/.ipynb_checkpoints/user_tutorial-checkpoint.ipynb
